body{
  margin: 0;
}

a:visited, a:link{
  color:#ffffff;
  text-decoration: none;
}

#header{
  width: 100%;
  min-width: 960px;
  height: 230px;
  color: #ffffff;
  background-color: #5db89d;
  padding-bottom: 20px;
}

.wrapper{
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

#navbar{
  height: 50px;
  font-family: 'hobo std';
}

#logo{
  width: auto;
  height: auto;
  padding-top: 50px;
  margin-right: 65px;
  float: right;
}

.navigation{
  width: 180px;
  height: 18px;
  text-align: center;
  padding: 13px 0 19px 0;
  font-size: 18px;
  float: left;
}

.navigation:hover{
  background-color: #f0e68c;
}

.slogan{
  text-align: center;
  margin-top: 50px;
  font-family: 'hobo std';
}

.wrapper-sosmed{
  text-align: center;
}

#beranda {
  width: 100%;
  min-width: 960px;
  background-color: #e8a0b8;
  background-repeat: no-repeat;
  background-position: top center;
  line-height: 1.4em;
  padding-top: 50px;
  overflow: auto;
  padding-bottom: 50px;
}

.kontak{
  border: 5px solid #ffffff;
  font-size: 12px;
  float: left;
  text-align: center;
  background-color: #f0e68c;
  margin: 0 5px 0 5px;
  padding: 10px;
}

.kontak>img{
  border-radius: 90px;
}

.wrapper-kontak{
  width: 400px;
  margin: 0 auto;
  overflow: auto;
}

.deskripsi{
  color: #000000;
  font-size: 18px;
  text-align: left;
  list-style: none;
  padding-left: 0;
  line-height: 15px;
  margin: 5px 0 0;
}

.sol{
  text-align: center;
  color: #ffffff;
  font-family: 'hobo std';
  background-color: #ff1493;
  padding-top: 10px;
  padding-bottom: 10px;
}

#peta{
  text-align: center;
  padding-top: -100px;
}

#footer{
  width: 100%;
  min-width: 960px;
  background-color: #f0e68c;
  color: #000000;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'hobo std';
}